@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 585px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.list-category {
  background: rgba(173, 216, 230, 0.4);
}

.code-link {
  background: url("GitHub-Mark-32px.png") no-repeat;
  padding: 5px 0px 10px 40px;
  margin-bottom: 10px;
}